@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
/* style for sdm title and two logos */

.top_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343333;
    color: white;
    height: 94px;
    padding-left: 57px;
    padding-right: 57px;
    /* font-family: 'Poppins', sans-serif; */
    overflow: hidden;
}
.top_bar .title{
    /* border: 1px solid white; */
    width: 55%;
}
.top_bar h3{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
}
.top_bar .img1{
    width: 53px; 
    height: 57px;
}
.top_bar .img2{
    width: 52px; 
    height: 57px;
}

@media(max-width:768px){
    .top_bar .img2{
        display: none;
    }
    .top_bar .title{
        width: 100%;
    }
    .top_bar .img1{
        height: 47px;
        width: 43px;
        margin-left: 5px;
    }
    .top_bar{
        padding-left: 10px;
        padding-right: 10px;
        height: 80px;
    }
    .top_bar h3{
        font-size: 12px;
        margin-left: 20px;
        margin-top: 5px;
        text-align: left;
    }
}





/* Navigation bar */
.hero{
    background-color:#A5D6E7 ;
}

#navbar_height{
    height: 86px;
}
nav{
    /* background-color: #1B3151; */
    /* height: 86px; */

    /* position: absolute; */
/* width: 1440px; */
/* height: 86px; */
/* left: 72px; */
/* top: 282px; */

background: linear-gradient(90.56deg, rgba(255, 255, 255, 0.4) 6.88%, rgba(255, 255, 255, 0.1) 93.95%);
box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2);
/* background-color: #A5D6E7; */
backdrop-filter: blur(15px);
position: sticky;
}

.navbar-nav li a{
    font-size: 18px;
    color: #1B3151 !important;
    letter-spacing: 1px;
    font-weight: 600;
}
.navbar-nav li a:hover{
    color: #f66c40 !important;
}
.hero #insignia_logo{
    width: 60px;
    height: 100px;
    margin-left: 60px;
}


@media(max-width:768px){
    
    .hero #insignia_logo{
        width: 50px;
        height: 72px;
        margin-left: 10px;
        margin-top: -10px;
    }
}



/*  this completes nav bar for all pages  */







/* hero section */
.hero_section{
    width: 100%;
    height: 760px;
    /* background-color: #A5D6E7; */
    /* border: 1px solid red; */
}

.hero_section .days_hrs_mins{
    /* border: 2px solid green; */
    display: flex;
}

.hero_section .days_hrs_mins .hrs_mins{
    width: 200px;
    height: 200px;
    /* border: 1px solid red; */
}
.hero_section .days_hrs_mins .days{
    width: 200px;
    height: 200px;
    /* border: 1px solid red; */
}
.hero_section #hero_logo_img{
    margin: auto;
    /* text-align: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    margin-top: -45px;
    /* margin-top: -100px; */
    width: 65%;
}

.hero_section #hero_circle_img{
    /* border: 1px solid red; */
    margin-top: -300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* position: absolute; */
    z-index: -1;


}
 .rotate{
     -webkit-animation: spin 1s linear infinite;
      -moz-animation: spin 1s linear infinite;
    animation: spin 10s linear infinite;
    z-index: -999;
    } 
     
    
    @-webkit-keyframes spin{ 
        100%{-webkit-transform:rotate(360deg); }
        
    }
    
    @-moz-keyframes spin{
         100%{-webkit-transform: rotate(360deg);}
    }
    
    @keyframes spin{
     100%{-webkit-transform: rotate(360deg);}
    } 
    
.hero_section #hero_main_img{
    /* border: 1px solid black; */
    margin-top: -520px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 65%;

    margin-left: 200px; */
    width: 57%;
    margin-left: 292px;
    position: absolute;
    z-index: 4;
}


/*  mobile version for hero section */

@media(max-width:768px){

    .hero_section{
        height: 600px;
    }
    .hero_section #hero_logo_img{
        margin-top: 50px;
        width: 85%;
    }
    .hero_section #hero_circle_img{
        margin-top: -125px;
        width: 75%;
    }
    .hero_section #hero_main_img{
        /* margin-top: -110px;
        margin-left: 30px; */
        width: 90%;
        margin-top: -183px;
        margin-left: 5px;
    }

}


/* HERO section coming soon  */
.coming-soon{
    /* border: 2px solid green; */
    text-align: center;
    margin: auto;
    margin-top: -130px;
}
.coming-soon ul
{
	/* position: absolute; */
	/* top:50%;
	left:50%;
	transform:translate(-50%, -50%); */
	margin:0;
	padding:0;
	display: flex;
    /* border: 2px solid red; */
    width: 65%;
    margin: auto;
}
.coming-soon ul li
{
	list-style: none;
	color: #484848;
	font-size: 5em;
	font-family: verdana;
	letter-spacing: 20px;
	animation: animate 1.4s linear infinite; 
    font-family: 'Mochiy Pop One', sans-serif;
}

ul li:nth-child(1)
{
	animation-delay: 0.2s;
}
ul li:nth-child(2)
{
	animation-delay: 0.4s;
}
ul li:nth-child(3)
{
	animation-delay: 0.6s;
}
ul li:nth-child(4)
{
	animation-delay: 0.8s;
}
ul li:nth-child(5)
{
	animation-delay: 1s;
}
ul li:nth-child(6)
{
	animation-delay: 1.2s;
}
ul li:nth-child(7)
{
	animation-delay: 1.4s;
}
ul li:nth-child(9)
{
	animation-delay: 1.6s;
}ul li:nth-child(10)
{
	animation-delay: 1.8s;
}ul li:nth-child(11)
{
	animation-delay: 2s;
}ul li:nth-child(12)
{
	animation-delay: 1.4s;
}
@keyframes animate
{
	0%
	{
		color: #484848;
		text-shadow: none;
		transform: scale(1);

	}
	90%
	{
		color: #484848;
		text-shadow: none;
		transform: scale(1);
		
	}
	100%
	{
		color: #fff900;
		text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
		transform: scale(1.5);
		
	}
}

/* Mobile version of the coming soon */
@media(max-width:768px){
    .coming-soon{
        margin-top: 0px;
    }
    .coming-soon ul{
        /* width: 60%; */
        margin-left:35px;
        margin-top: 30px;
    }
    .coming-soon ul li{
        font-size: 2em;
        letter-spacing: 1px;
    }
}





/* INSIGNIA Description */
.insignia_discription{
    /* height: 844px; */
    height: 670px;
    width: 100%;
    /* border: 2px solid red; */
    background: linear-gradient(180deg, #A5D6E7 0%, #FFEE7A 31.04%);
    padding: 80px;
}

.insignia_discription .discription{
    height: 300px;
    width: 80%;
    /* border: 1px solid green; */
}
.insignia_discription .discription h1{
    font-family: 'Mochiy Pop One', sans-serif;
}

.insignia_discription .discription p{
    margin-top: 20px;
}

.insignia_discription #border_img{
    width: 100%;
    /* border: 1px solid red; */
    margin-top: -22px;
    margin-left: -60px;
}
.insignia_discription #logo img{
    /* border: 1px solid red; */
    width: 100%;
    margin-top: -120px;
}

/*  mobile version of insignia description */
@media(max-width:768px){
    .insignia_discription{
        padding: 10px;
        height: 650px;
    }
    .insignia_discription .discription{
        width: 100%;
    }
    .insignia_discription .discription h1{
        font-size: 20px;
    }
    .insignia_discription #logo img{
        margin: 50px;
        border: 1px solid red;
        width: 80%;
        margin: auto;
        margin-top: -10px;
        display: none;

    }
    .insignia_discription #border_img{
        display: none;
    }
}



/* <!-- Spotlight  --> */
.spotlight_container .bg_img{
    /* background-image: url(images/spotlight.jpg); */
    height: 690px;
    background-image: url("../images/spotlight.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px;
}


/*  */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.snip1529 {
    background-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 10px;
    max-width: 400px;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 50px;
}

.snip1529 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.snip1529 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    opacity: 0.75;
}

.snip1529 figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.snip1529 .date {
    background-color: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 800;
    min-height: 48px;
    min-width: 48px;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    top: 0;
}

.snip1529 .date span {
    display: block;
    line-height: 14px;
}

.snip1529 .date .month {
    font-size: 11px;
}

.snip1529 h3,
.snip1529 p {
    margin: 0;
    padding: 0;
}

.snip1529 h3 {
    font-weight: 800;
    letter-spacing: -0.4px;
}

.snip1529 .hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: rgba(236, 188, 46, 0.75);
    display: flex;
    font-size: 65px;
    justify-content: center;
    opacity: 0;
}

.snip1529 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.snip1529:hover .hover,
.snip1529.hover .hover {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    opacity: 1;
}

.snip1529:hover figcaption,
.snip1529.hover figcaption {
    opacity: 0;
}

.snip1529:hover .date,
.snip1529.hover .date {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
/* completes code pen image animation */

.spotlight-text{
    /* border: 1px solid black; */
    margin-top: 50px;
    padding: 20px;
}
.spotlight-text h1{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 86px;
}
@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@600&display=swap');
.spotlight-text p{
    /* font-family: 'Niramit', sans-serif; */
    font-family: 'Mina', sans-serif;
    font-size: 18px;
    text-transform: lowercase;
    /* line-height: auto; */
    font-weight: 600;
}
.spotlight-venue{
    /* border: 1px solid white; */
    background: linear-gradient(90deg, rgba(246, 71, 40, 0.81) 0%, rgba(224, 27, 106, 0.36) 100%);
    box-shadow: 0px 11px 6px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px 28px 28px 80px;
    padding: 20px;
    line-height: 10px;
    padding-left: 50px;
    color: whitesmoke;
    letter-spacing: 1px;
    height: 148px;
    text-align: left;
    padding-top: 30px;
    /* text-align: center; */
}

/* MOBILE VERSION FOR THE SPOT LIGHT */
@media(max-width:768px){
    .spotlight_container .bg_img{
        padding: 10px;
        height: 800px;
    }
    .snip1529{
        margin-left: 0px;
        margin-top: 30px;
    }
    .spotlight-text{
        margin-top: 20px;
        padding: 5px;
    }
    .spotlight-text h1{
        font-size: 28px;
    }
    .spotlight-text p{
        font-size: 16px;
    }
    .spotlight-venue{
        line-height: 2px;
        height: 100px;
        border-radius: 20px 25px 25px 40px;
        padding: 30px 5px 5px 10px;
    }
}



/* Events cards */
.events{
    height: 750px;
    background-color: #7F5690;
    border: 1px solid greenyellow;
    padding: 60px;
}
.events h2{
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 90px;
    color: white;
}
.card-title{
    margin-top: -100px;
    z-index: 100;
    position: absolute;
}

.events .event_card{
    width: 380px;
    height: 460px;
    /* border: 1px solid white; */
    overflow: hidden;
    border-radius: 14px;
    color: white;
    font-family: 'Mochiy Pop One', sans-serif;
    box-shadow: 0px 9px 10px 4px rgba(0, 0, 0, 0.2);
    margin-top: 50PX;
    transition: 0.8s;
    /* font-size: 22px; */
}
.events .event_card:hover{
    transform: translatey(10px);
}
.events .event_card .x{
    background-image: url("../images/event1.jpg");
    width: 380px;
    height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.8s;
    background-size:107%;
    filter: contrast(120%);
    filter: brightness(90%);
    text-align: center;
 
}
.events .event_card .x h3{
    position: relative;
    top: 80px;
    letter-spacing: 1px;
    /* margin-top: 50px; */
}
.events .event_card .x p{
    position: relative;
    top: 110px;
    font-family: 'Mina', sans-serif;

}
.events .event_card .x button{
    position: relative;
    top: 260px;
    font-family: 'Mina', sans-serif;
    letter-spacing: 1px;
    transition: 0.6s;
}
.events .event_card .x button:hover{
    transform: translatey(5px);
    border: 2px solid whitesmoke;
}
.events .event_card .x:hover{
    /* transform: translatex(30); */
    cursor: pointer;
    /* transition: 2s; */
    background-size:100%;
    /* transform: translatey(-10px); */
    filter: contrast(80%);
    filter: brightness(130%);
}
.events .event_card .x .xx{
    /* margin-top: 50px; */
    border: 2px solid white;
}
.events .event_card .y{
    background-image: url("../images/event2.png");
}
.events .event_card .z{
    background-image: url("../images/event3.png");
}

/* MOBILE VERSION OF THE EVENTS SECTION */
@media(max-width:768px){
    .events{
        padding: 5px;
        height: 1500px;
        /* padding-left: 10px; */
    }
    .events h2{
        font-size: 30px;
        padding-top: 30px;
    }
    .events .event_card{
        width: 310px;
        height: 400px;
    }
    .events .event_card .x{
        width: 310px;
        height: 400px;
    }
    .events .event_card .x button{
        top: 230px;
    }
    .events .event_card .x:hover{
        background-size:105%;
    }
}




/* GALLAEY SECTION */
.gallery-section{
    /* height: 750px; */
    width: 100%;
    /* border: 1px solid red; */
    padding-bottom: 30px;
    
}
.gallery-section h1{
    font-family: 'Mochiy Pop One', sans-serif;
}
.gallery-section div{
    /* margin: px; */
}
.gallery-section .line{
    width: 100%;
    height: 3px;
    background-color: #777272;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    border-radius: 3px;

}


/* FOOTER SECTION */
.footer-section{
    height: 620px;
    /* border: 1px solid blue; */
    background-color: #343333;
    padding: 50px;
    
}
.footer-section h2{
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 48px;
    color: white;
}
.address-info svg{
    /* border: 1px solid red; */

}
.address-info .location{
    display: flex;
    /* border: 1px solid black; */
    padding-top: 20px;
}
.address-info .location .loc-info{
    /* border: 1px solid green; */
}
.contact-details .flex{
    display: flex;
}
.address-info .location svg{
    width: 30px;
    height: 40px;
}
.address-info .location .loc-info{
    margin-left: 20px;
    color: #A5D6E7;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.address-info .location .loc-info .head{
    color: white;
}
.co-ordinator {
    margin-left: 50px;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #A5D6E7;
}
.co-ordinator .head{
    /* font-family: 'Montserrat', sans-serif;
    font-size: 20px; */
    color: white;
}
.contact-details{
    /* border: 1px solid red; */
    margin-top: 20px;
}
.contact-details .emails{
    /* border: 1px solid white; */
    /* line-height: 10px; */
    color: rgb(255, 255, 255,0.9);
    /* color: #777272; */
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.contact-details .emails #color{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-left: -7px;
}
.contact-details .emails div span:nth-child(1){
    margin-right: 15px;
}
.contact-details .emails div span{
    margin-right: 20px;
}
.contact-detail .emails h5{
    font-size: 18px;
}
.contact-details .social{
    text-align: center;
    /* border: 1px solid green; */
    /* margin-top: 20px; */
    color: white;
}
.contact-details .social h5{
    font-family: 'Mina', sans-serif;
    color: #A5D6E7;
}
.contact-details .social a{
    text-decoration: none;
}

.contact-details .social p{
    
    /* font-family: 'Mochiy Pop One', sans-serif; */
    font-family: poppins;
    font-size: 15px;
    font-weight: 100;
}
.contact-details .social svg{
    margin: 5px;
    color: white;
}
/* facebook */
.contact-details .social i{  
    font-size: 20px;
    color: #FFEE7A;
    padding: 2px;
  
    /* border: 1px solid red; */
    /* padding: 2px; */
    /* margin: 5px; */
    /* margin-top: 100px; */
}
.contact-details .social .fa-brands{
    /* margin-top: 20px; */
}
.footer-section .line{
    width: 100%;
    height: 3px;
    background-color: #777272;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    border-radius: 3px;

}
.footer-section #copy-right{
    text-align: center;
    margin-top: 25px;
    color: #A5D6E7;
    letter-spacing: 1px;
    font-family: 'Mina', sans-serif;
}
.footer-section #copy-right i{
    color: #f66c40;
}
.footer-section #copy-right a{
    color: #A5D6E7;
}
.footer-section #copy-right :hover{
    color: #f66c40;
}
.address-logo{
    /* border: 1px solid red; */
    text-align: center;
}
.address-logo img{
    width: 90%;
}

/* FOOTER */
@media(max-width:768px){
    .footer-section{
        padding: 10px;
        padding-top: 20px;
        height: 700px;
        padding-bottom: 30px;
    }
    .footer-section h2{
        font-size: 20px;
    }
    .address-info .location .loc-info{
        margin-left: 0;
        font-size: 12px;
    }
    .address-info .location svg{
        width: 25px;
        height: 30px;
    }
    .co-ordinator{
        margin-left: 22px;
        margin-top: 25px;
        font-size: 15px;
    }
    .contact-details{
        margin-top: 10px;
    }
    .contact-details .emails{
        font-size: 15px;
        margin-top: 20px;
    }
    .contact-details .emails div span{
        margin-right: 15px;
    }
    .contact-details .emails #color{
        margin-left: 0;
        font-size: 15px;
        margin-left: -5px;
    }
    .contact-detail h5{
        font-size: 12px;
    }
    .contact-details .social{
        margin-top: 10px;
    }
    .contact-details .social p{
        font-size: 12px;
    }
    .contact-details .social svg{
        margin: 0;
    }
    .contact-details .social h5{
        margin-top: 5px;
    }
    .footer-section .line{
        height: 2px;
    }
    .address-logo img{
        display: none;
    }

}