/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');


timer{
  min-height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #F0F8FF; */
  padding: 0 20px;
position: relative;
bottom: 150px;


}

timer.dark{
  background: #24292D;
}
timer .container{
  display: flex;
  align-items :center;
  justify-content: center;
  height: 200px;
  /* max-width: 00px; */
  width: 100%;
  /* background: #fff; */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
  /* border-radius: 12px; */
  position: relative;
}
timer.dark .container{
  background: #323840;
}
timer .container .icons i{
  position: absolute;
  right: 17px;
  top: 17px;
  height: 30px;
  width: 30px;
  background: #24292D;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
}
timer.dark .container .icons i{
  background: #fff;
  color: #323840;
}
.container .icons i.fa-sun{
  opacity: 0;
  pointer-events: none;
}
timer.dark .container .icons i.fa-sun{
  opacity: 1;
  pointer-events: auto;
  font-size: 16px;
}
timer .container .time{
  display: flex;
  align-items: center;
}
.container .time .time-colon{
  display: flex;
  align-items: center;
  position: relative;
}
.time .time-colon .am_pm{
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}
timer.dark .time .time-colon .am_pm{
  color: #fff;
}
.time .time-colon .time-text{
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background: #F0F8FF; */
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  transition: all 0.4s ease;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
timer.dark .time .time-colon .time-text{
  background: #24292D;
}
.time .time-colon .time-text,
.time .time-colon .colon{
  font-size: 50px;
  font-weight: 600;
}
timer.dark .time .time-text .num,
timer.dark .time .colon{
  color: #fff;
}
.time .time-colon .colon{
  font-size: 40px;
  margin: 0 10px;
}
.time .time-colon .time-text .text{
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}
timer.dark  .time .time-colon .text{
  color: #fff;
}





@media (max-width: 768px){
.time .time-colon .time-text {
    height: 90px;
    width: 70px;
    display: flex;
    position: relative;
    top: 104px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background: rgb(240, 248, 255); */
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

timer{
    width: 100%;
   /* overflow-x: hidden; */
  
  
  }

  timer .container{
    display: flex;
    align-items :center;
    justify-content: center;
    height: 200px;
    max-width: 80px;
    /* width: 100%; */
    /* background: #fff; */
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
    /* border-radius: 12px; */
    position: relative;
  }
.time .time-colon .time-text, .time .time-colon .colon {
    font-size: 20px;
    font-weight: 100;
}
}

.time .time-colon .time-text .text {
    font-size: 11px;
    /* font-weight: 700;
    letter-spacing: 2px; */
}